html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

a {
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none;
  background-color: transparent;
  padding: 0; }

button:focus {
  outline: 0; }

.tns-outer .tns-nav,
.tns-outer button[data-action="stop"],
.tns-outer button[data-action="start"] {
  display: none; }

body {
  line-height: 1;
  font-family: 'MuseoSansCyrl', Arial, Helvetica, sans-serif; }

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%; }

@font-face {
  font-family: 'iconic';
  src: url("../iconfont/iconfont.eot");
  src: url("../iconfont/iconfont.eot?iefix") format("eot"), url("../iconfont/iconfont.woff") format("woff"), url("../iconfont/iconfont.ttf") format("ttf"), url("../iconfont/iconfont.svg#iconic") format("svg"); }

.iconic {
  font-family: 'iconic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  color: inherit;
  line-height: normal;
  vertical-align: middle; }

.banner {
  position: relative;
  z-index: -1;
  background-image: url(../images/layer1.png);
  background-repeat: no-repeat;
  background-position: center top; }
  .banner__text {
    padding: 150px 0; }
  .banner__title {
    width: 50%;
    line-height: 75px;
    font-size: 4em;
    font-family: Lora;
    font-weight: bold;
    text-shadow: 2px 11px 5px rgba(0, 0, 0, 0.33);
    color: white; }

@media (max-width: 1140px) {
  .banner {
    padding: 0 2%; } }

.menu__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap; }

.menu__link {
  display: block;
  padding: 15px 25px;
  text-transform: uppercase;
  color: white; }

.container-title {
  position: relative;
  padding: 25px 0 15px;
  font-size: 1.8em;
  font-family: Montserrat;
  font-weight: bold;
  color: #2a333c; }
  .container-title::before {
    content: '';
    position: absolute;
    top: 58%;
    left: -20px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    height: 3px;
    width: 250px;
    background-color: #dddddd; }
  .container-title::after {
    content: '';
    position: absolute;
    top: 55%;
    left: -25px;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #dddddd; }

@media (max-width: 1140px) {
  .container-title {
    padding: 25px 2% 15px; } }

.instrument {
  position: relative;
  text-align: center;
  padding: 40px 5px 55px;
  border: 1px solid lightgray;
  cursor: pointer; }
  .instrument:hover {
    background-color: #eeeeee; }
  .instrument__name {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 25px; }

.event {
  padding: 15px 2% 15px 24.5px;
  border-left: 2px solid white;
  line-height: 25px;
  color: white; }
  .event__time {
    position: relative; }
    .event__time::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -30px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      height: 9px;
      width: 9px;
      border-radius: 50%;
      background-color: white; }
  .event__title {
    margin: 20px 0;
    font-size: 2em; }

.news {
  padding: 15px;
  border: 1px solid lightgray;
  font-family: Montserrat; }
  .news:hover {
    box-shadow: inset 0 0 5px 1px lightgray; }
  .news__time {
    position: relative;
    padding-left: 15px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase; }
    .news__time::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 9px;
      height: 9px;
      background-color: #dddddd; }
  .news__title {
    margin: 30px 0;
    font-size: 1.7em; }
  .news__description {
    line-height: 23px; }
  .news__read-more {
    display: inline-block;
    margin: 25px 0 10px;
    padding: 10px 20px;
    border: 1px solid lightgray;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: #c12127; }
    .news__read-more:hover {
      background-color: #eeeeee; }

.community {
  padding: 70px 0;
  background-image: url("../images/join-img.png");
  background-repeat: no-repeat;
  background-position: center top;
  color: white; }
  .community__content-width {
    width: 50%; }
  .community__title {
    margin-bottom: 25px;
    font-size: 3em;
    font-family: Lora; }
  .community__notification {
    margin-bottom: 20px;
    max-height: 45px;
    overflow: hidden;
    line-height: 22px;
    font-weight: bold;
    font-family: Montserrat; }
  .community__input-container {
    position: relative; }
  .community__email {
    padding: 15px 20px;
    width: 100%;
    border-radius: 4px;
    border: none;
    outline: none;
    box-sizing: border-box; }
  .community__button {
    position: absolute;
    top: 50%;
    right: 5px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #b50b1e;
    color: white;
    cursor: pointer; }

@media (max-width: 1140px) {
  .community {
    padding: 70px 2%; } }

.header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0; }
  .header__title {
    align-self: center;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: CaviarDreams;
    color: white; }

.upcoming-events {
  padding: 110px 30px 0;
  background-image: url(../images/people.png);
  background-repeat: no-repeat;
  background-position: center top; }
  .upcoming-events__event-info {
    position: relative;
    height: 340px;
    overflow: hidden; }
  .upcoming-events__scroll {
    position: absolute;
    top: 0;
    left: 0;
    right: -22px;
    height: 340px;
    padding-left: 5px;
    overflow-y: scroll; }

.footer {
  padding: 25px 0; }
  .footer__copyright {
    font-family: Montserrat;
    font-size: 14px; }

.main__instruments {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 20px;
  margin-top: 20px; }

.main__load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 5px;
  max-width: 300px;
  width: 100%;
  border: 1px solid lightgray;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: bold;
  color: #c12127; }

.main__news {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  margin-top: 20px; }

@media (max-width: 1140px) {
  article,
  .header {
    padding: 0 2%; } }
